<div class="row mt-5">
  <div class="col-md-6 m-auto">

    <form action="/filter" method="GET">
      <select class="form-control" id="category" name='category' onchange="this-form.submit()">
        <option value=''>不分支出類別</option>
        <option {{#eq category '家居物業' }}selected{{/eq}} value='家居物業'>家居物業</option>
        <option {{#eq category '交通出行' }}selected{{/eq}} value='交通出行'>交通出行</option>
        <option {{#eq category '休閒娛樂' }}selected{{/eq}} value='休閒娛樂'>休閒娛樂</option>
        <option {{#eq category '餐飲食品' }}selected{{/eq}} value='餐飲食品'>餐飲食品</option>
        <option {{#eq category '其他' }}selected{{/eq}} value='其他'>其他</option>
      </select>
    </form>

    <div class="mt-3">
      <div class="row justify-content-center align-items-center">
        <div class="col" style="text-align: end;">
          <h4>總金額：</h4>
        </div>
        <div class="col-8 total" id="total" name="total">
          {{!-- <h1>10,000</h1> --}}
          <h1>{{totalAmount}}</h1>
        </div>
      </div>
    </div>

    <table class="list">
      <tbody>
        {{#each record}}
        <tr class="list-item">
          <td class="icon" style="font-size: 30px; color: Dodgerblue;">
            {{!-- <i class="fas fa-utensils"></i> --}}
            <i class="{{this.icon}}"></i>
          </td>

          <td class="category-date">
            {{!-- <div class="category">午餐</div>
            <small class="date">2021/10/10</small> --}}
            <div class="category">{{this.name}}</div>
            <small class="date">{{this.date}}</small>
          </td>

          {{!-- <td class="amount">160</td> --}}
          <td class="amount">{{this.amount}}</td>

          <td><a href="/records/{{this._id}}/edit" class="btn btn-success edit">修改</a></td>

          <td>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger delete">刪除</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-5">
      <a href="/records/new" class="btn btn-info m-auto">新增支出</a>
    </div>
  </div>
</div>